source /etc/network/interfaces.d/*

auto {{ main_interface_name }}
iface {{ main_interface_name }} inet static
{% if assign_ip %}
  address {{ target_host_ip }}
{% else %}
  address {{ ansible_host }}
{% endif %}
  netmask {{ netmask }}
  gateway {{ default_gateway }}
  dns-nameserver {{ default_dns1 }} 
  dns-nameserver {{ default_dns2 }}
